=begin
#WhatsAPI Go

#The V2 of WhatsAPI Go

The version of the OpenAPI document: 2.0
Contact: manjit@sponsorbook.io
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module OpenapiClient
  class InstanceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new instance key.
    # This endpoint is used to create a new WhatsApp Web instance.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :instance_key Insert instance key if you want to provide custom key
    # @return [MainAPIResponse]
    def instances_create_get(opts = {})
      data, _status_code, _headers = instances_create_get_with_http_info(opts)
      data
    end

    # Creates a new instance key.
    # This endpoint is used to create a new WhatsApp Web instance.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :instance_key Insert instance key if you want to provide custom key
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_create_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_create_get ...'
      end
      # resource path
      local_var_path = '/instances/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'instance_key'] = opts[:'instance_key'] if !opts[:'instance_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_create_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_create_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contacts.
    # Fetches the list of contacts in the instance.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [MainAPIResponse]
    def instances_instance_key_contacts_get(instance_key, opts = {})
      data, _status_code, _headers = instances_instance_key_contacts_get_with_http_info(instance_key, opts)
      data
    end

    # Get contacts.
    # Fetches the list of contacts in the instance.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_instance_key_contacts_get_with_http_info(instance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_instance_key_contacts_get ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling InstanceApi.instances_instance_key_contacts_get"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/contacts'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_instance_key_contacts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_instance_key_contacts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Instance.
    # Deletes the instance with the provided key.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [MainAPIResponse]
    def instances_instance_key_delete_delete(instance_key, opts = {})
      data, _status_code, _headers = instances_instance_key_delete_delete_with_http_info(instance_key, opts)
      data
    end

    # Delete Instance.
    # Deletes the instance with the provided key.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_instance_key_delete_delete_with_http_info(instance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_instance_key_delete_delete ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling InstanceApi.instances_instance_key_delete_delete"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/delete'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_instance_key_delete_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_instance_key_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Instance.
    # Returns the instance data of single instance with connection status.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [MainAPIResponse]
    def instances_instance_key_get(instance_key, opts = {})
      data, _status_code, _headers = instances_instance_key_get_with_http_info(instance_key, opts)
      data
    end

    # Get Instance.
    # Returns the instance data of single instance with connection status.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_instance_key_get_with_http_info(instance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_instance_key_get ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling InstanceApi.instances_instance_key_get"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_instance_key_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_instance_key_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Logout Instance.
    # Logouts of the instance with the provided key.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [MainAPIResponse]
    def instances_instance_key_logout_delete(instance_key, opts = {})
      data, _status_code, _headers = instances_instance_key_logout_delete_with_http_info(instance_key, opts)
      data
    end

    # Logout Instance.
    # Logouts of the instance with the provided key.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_instance_key_logout_delete_with_http_info(instance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_instance_key_logout_delete ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling InstanceApi.instances_instance_key_logout_delete"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/logout'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_instance_key_logout_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_instance_key_logout_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get QrCode.
    # Returns the qrcode in the base64 format.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [MainAPIResponse]
    def instances_instance_key_qrcode_get(instance_key, opts = {})
      data, _status_code, _headers = instances_instance_key_qrcode_get_with_http_info(instance_key, opts)
      data
    end

    # Get QrCode.
    # Returns the qrcode in the base64 format.
    # @param instance_key [String] Instance key
    # @param [Hash] opts the optional parameters
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_instance_key_qrcode_get_with_http_info(instance_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_instance_key_qrcode_get ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling InstanceApi.instances_instance_key_qrcode_get"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/qrcode'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_instance_key_qrcode_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_instance_key_qrcode_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change Webhook url.
    # Changes the webhook url of an instance.
    # @param instance_key [String] Instance key
    # @param data [StructsWebhookPayload] Message data
    # @param [Hash] opts the optional parameters
    # @return [MainAPIResponse]
    def instances_instance_key_webhook_put(instance_key, data, opts = {})
      data, _status_code, _headers = instances_instance_key_webhook_put_with_http_info(instance_key, data, opts)
      data
    end

    # Change Webhook url.
    # Changes the webhook url of an instance.
    # @param instance_key [String] Instance key
    # @param data [StructsWebhookPayload] Message data
    # @param [Hash] opts the optional parameters
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_instance_key_webhook_put_with_http_info(instance_key, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_instance_key_webhook_put ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling InstanceApi.instances_instance_key_webhook_put"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling InstanceApi.instances_instance_key_webhook_put"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/webhook'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_instance_key_webhook_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_instance_key_webhook_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all instances.
    # Fetches the list of all Instances with login status.
    # @param [Hash] opts the optional parameters
    # @return [MainAPIResponse]
    def instances_list_get(opts = {})
      data, _status_code, _headers = instances_list_get_with_http_info(opts)
      data
    end

    # Get all instances.
    # Fetches the list of all Instances with login status.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MainAPIResponse, Integer, Hash)>] MainAPIResponse data, response status code and response headers
    def instances_list_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstanceApi.instances_list_get ...'
      end
      # resource path
      local_var_path = '/instances/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MainAPIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"InstanceApi.instances_list_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstanceApi#instances_list_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
