=begin
#WhatsAPI Go

#The V2 of WhatsAPI Go

The version of the OpenAPI document: 2.0
Contact: manjit@sponsorbook.io
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module OpenapiClient
  class MiscellaneousApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get profile pic.
    # Returns the profile pic of the given user.
    # @param instance_key [String] Instance key
    # @param jid [String] JID
    # @param [Hash] opts the optional parameters
    # @return [APIResponse]
    def get_profile_pic(instance_key, jid, opts = {})
      data, _status_code, _headers = get_profile_pic_with_http_info(instance_key, jid, opts)
      data
    end

    # Get profile pic.
    # Returns the profile pic of the given user.
    # @param instance_key [String] Instance key
    # @param jid [String] JID
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIResponse, Integer, Hash)>] APIResponse data, response status code and response headers
    def get_profile_pic_with_http_info(instance_key, jid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MiscellaneousApi.get_profile_pic ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling MiscellaneousApi.get_profile_pic"
      end
      # verify the required parameter 'jid' is set
      if @api_client.config.client_side_validation && jid.nil?
        fail ArgumentError, "Missing the required parameter 'jid' when calling MiscellaneousApi.get_profile_pic"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/misc/profile-pic'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'jid'] = jid

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MiscellaneousApi.get_profile_pic",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MiscellaneousApi#get_profile_pic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetches the users info.
    # Gets the user info for the given user ids. This does not checks if user is registered or not
    # @param instance_key [String] Instance key
    # @param data [UserInfoPayload] Data
    # @param [Hash] opts the optional parameters
    # @return [APIResponse]
    def get_users_info(instance_key, data, opts = {})
      data, _status_code, _headers = get_users_info_with_http_info(instance_key, data, opts)
      data
    end

    # Fetches the users info.
    # Gets the user info for the given user ids. This does not checks if user is registered or not
    # @param instance_key [String] Instance key
    # @param data [UserInfoPayload] Data
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIResponse, Integer, Hash)>] APIResponse data, response status code and response headers
    def get_users_info_with_http_info(instance_key, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MiscellaneousApi.get_users_info ...'
      end
      # verify the required parameter 'instance_key' is set
      if @api_client.config.client_side_validation && instance_key.nil?
        fail ArgumentError, "Missing the required parameter 'instance_key' when calling MiscellaneousApi.get_users_info"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling MiscellaneousApi.get_users_info"
      end
      # resource path
      local_var_path = '/instances/{instance_key}/misc/user-info'.sub('{' + 'instance_key' + '}', CGI.escape(instance_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(data)

      # return_type
      return_type = opts[:debug_return_type] || 'APIResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MiscellaneousApi.get_users_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MiscellaneousApi#get_users_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
